*
{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Martel', serif;
   
}
:root
{
    --cyan : #009688;
    --blue : #281966;
}
html{
    scroll-behavior: smooth;
}
.blue
{
    color: var(--blue);
}
.cyan 
{
    color: var(--cyan);
}
.gray
{
    color: #6c757d;
}
.upper-heading
{
    font-size: 20px;
    color: var(--cyan);
    font-weight: bold;
   
}

body{
   box-sizing: border-box;
  
}
.kh-fonts
{
    font-family: 'Kaushan Script', cursive;
}

.color-menubar
{
    background: #009688 !important;
    transition: all 0.5s ease-in !important;
    -webkit-transition: all 0.5s ease-in !important;
    -moz-transition: all 0.5s ease-in !important;
    -ms-transition: all 0.5s ease-in !important;
    -o-transition: all 0.5s ease-in !important;
    box-shadow: 0px 2px 13px 7px #c7c7c7;
}
.header_menu
{
    background: transparent;
}
.banner_section
{
    background: linear-gradient(rgba(0,0,0,0.5) , #009688), url('../img/banner.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.banner-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-text h1{
    font-size: 85px;
}

p.upper-heading{
    position: relative;
    display: inline-block;
    z-index: 1;
}
p.upper-heading::after
{
    content: '';
    position: absolute;
    width: 50px;
    height: 30px;
    background: linear-gradient(#009688 , #fff);
    top: -20px;
    left: 0;
    z-index: -1;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

}
.right-img 
{
    height: 500px;
    height: 500px;
    box-shadow: 1px 1px 15px 2px #e9e9e9;
    padding: 35px;
}
.right-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);


}
.left-feature-desc i
{
    border: 1px solid var(--cyan);
    padding: 12px;
    color: var(--cyan);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.service-img-div
{
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.service-img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.service1 .service-overlay
{
    left: -100%;
}
.service2 .service-overlay
{
    right: -100%;
}
.service-overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
   
    background: linear-gradient(rgba(0,0,0,0.5) , #009688);
    height: 100%;
    width: 100%;
   
    color: white;
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 40px;
    opacity: 0;
    transition: 0.85s all ease-in;
    -webkit-transition: 0.85s all ease-in;
    -moz-transition: 0.85s all ease-in;
    -ms-transition: 0.85s all ease-in;
    -o-transition: 0.85s all ease-in;
}
.service1 .service-img-div:hover .service-overlay
{
    opacity: 1;
    left: 0;
}
.service2 .service-img-div:hover .service-overlay
{
    opacity: 1;
    right: 0;
} 
.testimonials-div
{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border: 2px solid #f8f6f6;
    padding: 40px 20px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    cursor: pointer;
}
.testimonials-div:hover{
   transform: translateY(-15px);
   -webkit-transform: translateY(-15px);
   -moz-transform: translateY(-15px);
   -ms-transform: translateY(-15px);
   -o-transform: translateY(-15px);
   border: 2px solid var(--cyan);
} 
.banner-bottom
{
    background: url('../img/banner-woman.jpg');
    height: 550px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-bottom::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5) , #009688ab);
   
}
.banner-bottom p{
    z-index: 1;
    background-color:#0c322dd9;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 1px 7px 4px #000000 inset;
}
#footer
{
    background-color: #f3f3f3;
    position: relative;
}
#footer img{
    
    position: absolute;
    opacity: 0.1;
    width: 290px;
    max-width: 290px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-hr
{
    background-color: var(--cyan);
    height: 4px;
} 
.footer-container i
{
    display: grid;
    width: 40px;
    height: 40px;
    background: white;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    color:var(--cyan);
    margin: 0px 10px;
    text-align: center;
    place-items: center;
    box-shadow: 4px 6px 10px 3px #b3b3b3 inset;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    -moz-transition: 0.7s all;
    -ms-transition: 0.7s all;
    -o-transition: 0.7s all;
}
.footer-container i:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    color: gray;
    
}


